/*ÕÒ»ØÃÜÂë*/
.findPasswordPart{
    width: 70%;
    margin-left: 15%;
    background-color: #ffffff;
}

.mainPart{
    padding-top: 2%;
}

.formPart{
    margin-left: 20%;
    padding-top: 7%;
    width: 60%;
}

#myTab{
    border: none;
}

#myTab li{
    width: 50%;
}

#myTabContent{
    border: none;
}

#myTab li a{
    border: none;
    box-shadow:none;
    text-align: center;
    font-size: 18px;
    border-bottom: solid 3px;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus {
    margin-right: 0px;
    background-color:#ffffff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    margin-top: 0px;
}

.formRow{
    padding-top: 4%;
}

.formRowBottom{
    padding-bottom: 16%;
}

.phoneTextCss{
    width: 80%;
}

.eMailTextCss{
    width: 90%;
}

.verifyTextCss{
    width: 60%;
}

#phnoe input{
    background: #f9f9f9;
}

#eMail input {
    background: #f9f9f9;
}

.nextBtn{
    background: #000000 none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 10px;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 80%;
    margin-left: 10%;
}

.verifyBtn{
    background: #ced1d6 none repeat scroll 0 0;
    border-radius: 3px;
    color: #000000;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    cursor: pointer;
}