.resetPasswordPart{
    width: 70%;
    margin-left: 15%;
    background: #ffffff;
}

.complateBtn{
    border-radius: 20px;
    width: 100%;
    background:#000000;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 2%;
    padding-top: 2%;
    letter-spacing: 10px;
}

.part2 h4{
    padding-top: 4%;
    padding-left: 4%;
}

.passwordLabel{
    width: 30%;
    float: left;
    text-align: right;
    padding-top: 0.8%;
}
.passwordTxt{
    width: 70%;
    float: left;
}

.row1{
    padding-top: 6%;
}

.row2{
    padding-top: 3%;
}

.row3{
    padding-top: 3%;
    padding-bottom: 12%;
}

.passwordTxt input{
    width: 60%;
    background: #f9f9f9;
}

.btnPart{
    width: 70%;
    padding-left: 30%;
}

i{
    margin-left: 1%;
    margin-right: 1%;
}